#!/usr/bin/expect -f

# Set variables
set protocol [lindex $argv 0]
set man [lindex $argv 1]
set hostname [lindex $argv 2]
set username [lindex $argv 3]
set password [lindex $argv 4]

if {$man != "juniper"} {
    send_error "This script is for Juniper devices only\n"
    exit 1
}

if {$protocol != "ssh"} {
    send_error "This script connects with SSH only\n"
    exit 1
}

# Don't check keys
spawn ssh -o StrictHostKeyChecking=no $username\@$hostname

# Allow this script to handle ssh connection issues
expect {
    timeout { send_error "$hostname Timeout exceeded\n"; exit 1 }
    eof { send_error "$hostname SSH connection to host failed\n"; exit 1 }
    "refused" { send_error "$hostname SSH connection refused\n"; exit 1 }
    "yes/no" {
        send "yes\n"
    }
    ">" {}
    "*assword:" {
        send "$password\n"
    }
}

expect {
    "*assword:" { send_error "$hostname Authentication failed\n"; exit 1 }
    "0%" {
        send "cli\n"
        expect ">"
    }
    ">"
}

send "configure\n"
expect "#"

# {{content}}
send "exit\n"
expect {
    timeout {}
    eof {}
    ">" {
        send "exit\n"
    }
}

exit
